
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_148 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: var(--bg-page);
      }
.Pixso-frame-2_149 {
        width: 640px;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20640%20900'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-0.3420%2C%200.9397%2C%20-0.9397%2C%20-0.3420%2C%201.1409%2C%200.2012)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(79%2C110%2C247%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(59%2C86%2C217%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.frame-content-2_149 {
        display: flex;
flex-direction: column;
gap: 32px;
align-items: flex-start;
justify-content: center;
padding: 80px 64px 80px 64px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_150 {
        font-size: 32px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_151 {
        font-size: 36px;
font-family: "Inter-Bold";
font-weight: Bold;
line-height: 120.00000476837158%;
color: var(--text-on-dark);
white-space: pre-line;
width: 480px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-paragraph-2_152 {
        font-size: 16px;
font-family: "Inter-Italic";
font-weight: Italic;
line-height: 159.99999046325684%;
color: rgba(255, 255, 255, 0.800000011920929);
width: 480px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_153 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 14px;
align-items: flex-start;
      }
.Pixso-frame-2_154 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
      }
.Pixso-frame-2_155 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.1882352977991104);
      }
.frame-content-2_155 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_156 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/check4.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_158 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.8666666746139526);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_159 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
      }
.Pixso-frame-2_160 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.1882352977991104);
      }
.frame-content-2_160 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_161 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/check3.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_163 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.8666666746139526);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_164 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
      }
.Pixso-frame-2_165 {
        width: 28px;
height: 28px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 14px 14px 14px 14px;
background-color: rgba(255, 255, 255, 0.1882352977991104);
      }
.frame-content-2_165 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_166 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/check2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_168 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.8666666746139526);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_169 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: var(--bg-white);
      }
.frame-content-2_169 {
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 60px 64px 60px 64px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_170 {
        width: 400px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_170 {
        display: flex;
flex-direction: column;
gap: 28px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_171 {
        font-size: 28px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_172 {
        font-size: 15px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_173 {
        width: 100%;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--bg-page);
      }
.frame-content-2_173 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
padding: 4px 4px 4px 4px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_174 {
        width: 100%;
height: 36px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 8px 8px 8px 8px;
box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.058823529411764705) ;
background-color: var(--bg-white);
      }
.frame-content-2_174 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_175 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_176 {
        width: 100%;
height: 36px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_176 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_177 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_178 {
        width: 100%;
height: 36px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 8px 8px 8px 8px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_178 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_179 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_180 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: var(--bg-white);
      }
.frame-content-2_180 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_180 {
        position: relative;
width: 100%;
height: 48px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_180 {
        position: absolute;
inset: -1.5px -1.5px -1.5px -1.5px;
border-radius: 11.5px 11.5px 11.5px 11.5px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-mid);
      }
.Pixso-frame-2_181 {
        width: 20px;
height: 20px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(234, 67, 53, 1);
      }
.frame-content-2_181 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_182 {
        font-size: 12px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_183 {
        font-size: 15px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_184 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_184 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_185 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: var(--border-light);
      }
.Pixso-paragraph-2_186 {
        font-size: 12px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_187 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
background-color: var(--border-light);
      }
.Pixso-frame-2_188 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_188 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_189 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_190 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--bg-white);
      }
.frame-content-2_190 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_190 {
        position: relative;
width: 100%;
height: 46px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_190 {
        position: absolute;
inset: -1.5px -1.5px -1.5px -1.5px;
border-radius: 11.5px 11.5px 11.5px 11.5px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-mid);
      }
.Pixso-frame-2_191 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-2_192 {
        width: 83.34%;
height: 24.99%;
background-image: url(@/assets/images/Vector16.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 8.33%;
top: 29.17%;
bottom: 45.84%;
      }
.Pixso-rectangle-2_193 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
      }
.stroke-wrapper-2_193 {
        position: absolute;
left: 8.33%;
top: 16.67%;
right: 8.33%;
bottom: 16.67%;
width: 83.34%;
height: 66.66%;
      }
.stroke-2_193 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-muted);
      }
.Pixso-paragraph-2_194 {
        font-size: 14px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_195 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_195 {
        display: flex;
flex-direction: column;
gap: 6px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_196 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_196 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_197 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_198 {
        font-size: 12px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_199 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--bg-white);
      }
.frame-content-2_199 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 14px 0px 14px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_199 {
        position: relative;
width: 100%;
height: 46px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_199 {
        position: absolute;
inset: -1.5px -1.5px -1.5px -1.5px;
border-radius: 11.5px 11.5px 11.5px 11.5px;
pointer-events: none;
border-width: 1.5px 1.5px 1.5px 1.5px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-mid);
      }
.Pixso-frame-2_200 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.Pixso-rectangle-2_201 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
      }
.stroke-wrapper-2_201 {
        position: absolute;
left: 12.5%;
top: 45.83%;
right: 12.5%;
bottom: 8.33%;
width: 75%;
height: 45.84%;
      }
.stroke-2_201 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-muted);
      }
.Pixso-vector-2_202 {
        width: 41.66%;
height: 37.5%;
background-image: url(@/assets/images/Vector17.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 29.17%;
right: 29.17%;
top: 8.33%;
bottom: 54.17%;
      }
.Pixso-paragraph-2_203 {
        font-size: 18px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_204 {
        width: 100%;
height: 50px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--brand-primary);
      }
.frame-content-2_204 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_205 {
        font-size: 15px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_206 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
.frame-content-2_206 {
        display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: center;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_207 {
        font-size: 14px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_208 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

