
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_791 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: var(--bg-page);
      }
.Pixso-frame-2_792 {
        width: 240px;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background-color: var(--bg-sidebar);
      }
.frame-content-2_792 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_793 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_793 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 28px 20px 20px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_794 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_794 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_795 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: var(--brand-primary);
      }
.frame-content-2_795 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_796 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.Pixso-rectangle-2_797 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
      }
.stroke-wrapper-2_797 {
        position: absolute;
left: 66.67%;
top: 66.67%;
right: 8.33%;
bottom: 8.33%;
width: 25%;
height: 25%;
      }
.stroke-2_797 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-rectangle-2_798 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
      }
.stroke-wrapper-2_798 {
        position: absolute;
left: 8.33%;
top: 66.67%;
right: 66.67%;
bottom: 8.33%;
width: 25%;
height: 25%;
      }
.stroke-2_798 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-rectangle-2_799 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
      }
.stroke-wrapper-2_799 {
        position: absolute;
left: 37.5%;
top: 8.33%;
right: 37.5%;
bottom: 66.67%;
width: 25%;
height: 25%;
      }
.stroke-2_799 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-vector-2_800 {
        width: 58.34%;
height: 16.67%;
background-image: url(@/assets/images/Vector99.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 33.33%;
      }
.Pixso-vector-2_801 {
        width: 7.7%;
height: 16.67%;
background-image: url(@/assets/images/Vector100.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 33.33%;
bottom: 50%;
      }
.Pixso-paragraph-2_802 {
        font-size: 20px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_803 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_803 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 16px 12px 16px 12px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_804 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_804 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_805 {
        width: 17px;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.Pixso-rectangle-2_806 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_806 {
        position: absolute;
left: 12.5%;
top: 12.5%;
right: 58.33%;
bottom: 50%;
width: 29.17%;
height: 37.5%;
      }
.stroke-2_806 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.5647059082984924);
      }
.Pixso-rectangle-2_807 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_807 {
        position: absolute;
left: 58.33%;
top: 12.5%;
right: 12.5%;
bottom: 66.67%;
width: 29.17%;
height: 20.83%;
      }
.stroke-2_807 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.5647059082984924);
      }
.Pixso-rectangle-2_808 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_808 {
        position: absolute;
left: 58.33%;
top: 50%;
right: 12.5%;
bottom: 12.5%;
width: 29.17%;
height: 37.5%;
      }
.stroke-2_808 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.5647059082984924);
      }
.Pixso-rectangle-2_809 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_809 {
        position: absolute;
left: 12.5%;
top: 66.67%;
right: 58.33%;
bottom: 12.5%;
width: 29.17%;
height: 20.83%;
      }
.stroke-2_809 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.5647059082984924);
      }
.Pixso-paragraph-2_810 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.6666666865348816);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_811 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_811 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_812 {
        width: 17px;
height: 17px;
background-image: url(@/assets/images/send8.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_815 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.6666666865348816);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_816 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--brand-primary);
      }
.frame-content-2_816 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_817 {
        width: 17px;
height: 17px;
background-image: url(@/assets/images/messagecircle4.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_819 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_820 {
        width: 20px;
height: 20px;
position: absolute;
left: 190px;
top: 11px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--brand-danger);
      }
.frame-content-2_820 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_821 {
        font-size: 10px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_822 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.frame-content-2_822 {
        display: flex;
flex-direction: row;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_823 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background-color: var(--bg-white);
      }
.frame-content-2_823 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_823 {
        position: relative;
width: 340px;
height: 900px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_823 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_824 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_824 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_825 {
        font-size: 18px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_826 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--bg-page);
      }
.frame-content-2_826 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_826 {
        position: relative;
width: 100%;
height: 38px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_826 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 11px 11px 11px 11px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-vector-2_827 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/search0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_830 {
        font-size: 13px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_831 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--border-light);
      }
.Pixso-frame-2_832 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: var(--brand-primary-light);
      }
.frame-content-2_832 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 14px 16px 14px 16px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_833 {
        width: 44px;
height: 44px;
background-image: url(@/assets/images/Avt0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_834 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_834 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_835 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_835 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_836 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_837 {
        font-size: 11px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_838 {
        font-size: 13px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 220px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-paragraph-2_839 {
        font-size: 11px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_840 {
        width: 10px;
height: 10px;
position: relative;
flex-shrink: 0;
border-radius: 5px 5px 5px 5px;
background-color: var(--brand-primary);
      }
.Pixso-frame-2_841 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-2_841 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 14px 16px 14px 16px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_842 {
        width: 44px;
height: 44px;
background-image: url(@/assets/images/Avt20.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_843 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_843 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_844 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_844 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_845 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_846 {
        font-size: 11px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_847 {
        font-size: 13px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 220px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-paragraph-2_848 {
        font-size: 11px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_849 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-2_849 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 14px 16px 14px 16px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_850 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
border-radius: 22px 22px 22px 22px;
background-color: var(--brand-warning-light);
      }
.Pixso-frame-2_851 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_851 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_852 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_852 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_853 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_854 {
        font-size: 11px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_855 {
        font-size: 13px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: undefined;
overflow: hidden;
width: 220px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_856 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
background-color: var(--bg-page);
      }
.frame-content-2_856 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_857 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: var(--bg-white);
      }
.frame-content-2_857 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
padding: 0px 24px 0px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_857 {
        position: relative;
width: 100%;
height: 72px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_857 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-vector-2_858 {
        width: 44px;
height: 44px;
background-image: url(@/assets/images/Frame126.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_859 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_859 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_860 {
        font-size: 15px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_861 {
        font-size: 12px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--brand-accent);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_862 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
      }
.Pixso-frame-2_863 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
padding: 5px 12px 5px 12px;
border-radius: 20px 20px 20px 20px;
background-color: var(--brand-primary-light);
      }
.Pixso-paragraph-2_864 {
        font-size: 12px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_865 {
        width: 100%;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
      }
.frame-content-2_865 {
        display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-start;
padding: 24px 24px 24px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_866 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-end;
      }
.frame-content-2_866 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-end;
width: 100%;
position: relative;
      }
.Pixso-vector-2_867 {
        width: 32px;
height: 32px;
background-image: url(@/assets/images/Frame129.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_868 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 4px;
background-color: var(--bg-white);
      }
.frame-content-2_868 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 12px 14px 12px 14px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_868 {
        position: relative;
width: 380px;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_868 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 5px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-paragraph-2_869 {
        font-size: 14px;
font-family: "Inter-Italic";
font-weight: Italic;
line-height: 150%;
color: var(--text-primary);
width: 340px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-paragraph-2_870 {
        font-size: 11px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_871 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
      }
.frame-content-2_871 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-end;
justify-content: flex-end;
width: 100%;
position: relative;
      }
.Pixso-frame-2_872 {
        width: 340px;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 4px 16px;
background-color: var(--brand-primary);
      }
.frame-content-2_872 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 12px 14px 12px 14px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_873 {
        font-size: 14px;
font-family: "Inter-Italic";
font-weight: Italic;
line-height: 150%;
color: var(--text-on-dark);
width: 300px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-paragraph-2_874 {
        font-size: 11px;
font-family: "Inter-Italic";
font-weight: Italic;
color: rgba(255, 255, 255, 0.501960813999176);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_875 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-end;
      }
.frame-content-2_875 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-end;
width: 100%;
position: relative;
      }
.Pixso-vector-2_876 {
        width: 32px;
height: 32px;
background-image: url(@/assets/images/Frame130.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_877 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 4px;
background-color: var(--bg-white);
      }
.frame-content-2_877 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 12px 14px 12px 14px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_877 {
        position: relative;
width: 320px;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_877 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 5px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-paragraph-2_878 {
        font-size: 14px;
font-family: "Inter-Italic";
font-weight: Italic;
line-height: 150%;
color: var(--text-primary);
width: 280px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-paragraph-2_879 {
        font-size: 11px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_880 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: var(--bg-white);
      }
.frame-content-2_880 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
padding: 0px 24px 0px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_880 {
        position: relative;
width: 100%;
height: 72px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_880 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_881 {
        width: 36px;
height: 36px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--bg-page);
      }
.frame-content-2_881 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_882 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/paperclip.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_884 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 22px 22px 22px 22px;
background-color: var(--bg-page);
      }
.frame-content-2_884 {
        display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
padding: 0px 16px 0px 16px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_884 {
        position: relative;
width: 100%;
height: 44px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_884 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 23px 23px 23px 23px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-paragraph-2_885 {
        font-size: 14px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-muted);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_886 {
        width: 44px;
height: 44px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 22px 22px 22px 22px;
background-color: var(--brand-primary);
      }
.frame-content-2_886 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_887 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/send7.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }

