
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_209 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: var(--bg-page);
      }
.Pixso-frame-2_210 {
        width: 240px;
height: 900px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background-color: var(--bg-sidebar);
      }
.frame-content-2_210 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_211 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_211 {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 28px 20px 20px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_212 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_212 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_213 {
        width: 32px;
height: 32px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: var(--brand-primary);
      }
.frame-content-2_213 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_214 {
        width: 16px;
height: 16px;
position: relative;
flex-shrink: 0;
      }
.Pixso-rectangle-2_215 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
      }
.stroke-wrapper-2_215 {
        position: absolute;
left: 66.67%;
top: 66.67%;
right: 8.33%;
bottom: 8.33%;
width: 25%;
height: 25%;
      }
.stroke-2_215 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-rectangle-2_216 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
      }
.stroke-wrapper-2_216 {
        position: absolute;
left: 8.33%;
top: 66.67%;
right: 66.67%;
bottom: 8.33%;
width: 25%;
height: 25%;
      }
.stroke-2_216 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-rectangle-2_217 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
      }
.stroke-wrapper-2_217 {
        position: absolute;
left: 37.5%;
top: 8.33%;
right: 37.5%;
bottom: 66.67%;
width: 25%;
height: 25%;
      }
.stroke-2_217 {
        position: absolute;
inset: -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px -0.6666666865348816px;
border-radius: 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px 0.6666666865348816px;
pointer-events: none;
border-width: 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px 1.3333333730697632px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-vector-2_218 {
        width: 58.34%;
height: 16.67%;
background-image: url(@/assets/images/Vector18.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 33.33%;
      }
.Pixso-vector-2_219 {
        width: 7.7%;
height: 16.67%;
background-image: url(@/assets/images/Vector19.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 46.15%;
right: 46.15%;
top: 33.33%;
bottom: 50%;
      }
.Pixso-paragraph-2_220 {
        font-size: 20px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_221 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: rgba(255, 255, 255, 0.0941176488995552);
      }
.Pixso-frame-2_222 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_222 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
padding: 16px 12px 16px 12px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_223 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--brand-primary);
      }
.frame-content-2_223 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_224 {
        width: 17px;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.Pixso-rectangle-2_225 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_225 {
        position: absolute;
left: 12.5%;
top: 12.5%;
right: 58.33%;
bottom: 50%;
width: 29.17%;
height: 37.5%;
      }
.stroke-2_225 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-rectangle-2_226 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_226 {
        position: absolute;
left: 58.33%;
top: 12.5%;
right: 12.5%;
bottom: 66.67%;
width: 29.17%;
height: 20.83%;
      }
.stroke-2_226 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-rectangle-2_227 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_227 {
        position: absolute;
left: 58.33%;
top: 50%;
right: 12.5%;
bottom: 12.5%;
width: 29.17%;
height: 37.5%;
      }
.stroke-2_227 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-rectangle-2_228 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
      }
.stroke-wrapper-2_228 {
        position: absolute;
left: 12.5%;
top: 66.67%;
right: 58.33%;
bottom: 12.5%;
width: 29.17%;
height: 20.83%;
      }
.stroke-2_228 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px 0.7083333134651184px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: var(--text-on-dark);
      }
.Pixso-paragraph-2_229 {
        font-size: 14px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_230 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_230 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_231 {
        width: 17px;
height: 17px;
position: relative;
flex-shrink: 0;
      }
.Pixso-vector-2_232 {
        width: 33.34%;
height: 75%;
background-image: url(@/assets/images/Vector20.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 33.33%;
right: 33.33%;
top: 8.33%;
bottom: 16.67%;
      }
.Pixso-rectangle-2_233 {
        width: 100%;
height: 100%;
position: relative;
border-radius: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
      }
.stroke-wrapper-2_233 {
        position: absolute;
left: 8.33%;
top: 25%;
right: 8.33%;
bottom: 16.67%;
width: 83.34%;
height: 58.33%;
      }
.stroke-2_233 {
        position: absolute;
inset: -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px -0.7083333134651184px;
border-radius: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
pointer-events: none;
border-width: 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px 1.4166666269302368px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 0.5647059082984924);
      }
.Pixso-paragraph-2_234 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.6666666865348816);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_235 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_235 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_236 {
        width: 17px;
height: 17px;
background-image: url(@/assets/images/send4.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_239 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.6666666865348816);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_240 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_240 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_241 {
        width: 17px;
height: 17px;
background-image: url(@/assets/images/messagecircle1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_243 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.6666666865348816);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_244 {
        width: 100%;
height: 42px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 255, 255, 0);
      }
.frame-content-2_244 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 0px 12px 0px 12px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_245 {
        width: 17px;
height: 17px;
background-image: url(@/assets/images/user.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_248 {
        font-size: 14px;
font-family: "Inter-Medium";
font-weight: Medium;
color: rgba(255, 255, 255, 0.6666666865348816);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_249 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_249 {
        display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 20px 16px 20px 16px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_250 {
        width: 38px;
height: 38px;
background-image: url(@/assets/images/UserAvt.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_251 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_251 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_252 {
        font-size: 13px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_253 {
        font-size: 11px;
font-family: "Inter-Italic";
font-weight: Italic;
color: rgba(255, 255, 255, 0.43921568989753723);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_254 {
        width: 100%;
height: 900px;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.frame-content-2_254 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_255 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: var(--bg-white);
      }
.frame-content-2_255 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0px 32px 0px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_255 {
        position: relative;
width: 100%;
height: 68px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_255 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-paragraph-2_256 {
        font-size: 20px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_257 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
      }
.Pixso-frame-2_258 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: var(--bg-page);
      }
.frame-content-2_258 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_259 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/bell0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_262 {
        width: 16px;
height: 16px;
position: absolute;
left: 24px;
top: 4px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: var(--brand-danger);
      }
.frame-content-2_262 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_263 {
        font-size: 9px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-vector-2_264 {
        width: 38px;
height: 38px;
background-image: url(@/assets/images/TopAvt.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_265 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
      }
.frame-content-2_265 {
        display: flex;
flex-direction: column;
gap: 24px;
align-items: flex-start;
padding: 28px 32px 28px 32px;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_266 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_266 {
        display: flex;
flex-direction: row;
gap: 20px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_267 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: var(--bg-white);
      }
.frame-content-2_267 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 24px 0px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_267 {
        position: relative;
width: 100%;
height: 100px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_267 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 17px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_268 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--brand-primary-light);
      }
.frame-content-2_268 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_269 {
        width: 22px;
height: 22px;
background-image: url(@/assets/images/send3.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_272 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
      }
.Pixso-paragraph-2_273 {
        font-size: 28px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_274 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_275 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: var(--bg-white);
      }
.frame-content-2_275 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 24px 0px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_275 {
        position: relative;
width: 100%;
height: 100px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_275 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 17px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_276 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--brand-warning-light);
      }
.frame-content-2_276 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_277 {
        width: 22px;
height: 22px;
background-image: url(@/assets/images/clock.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_280 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
      }
.Pixso-paragraph-2_281 {
        font-size: 28px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_282 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_283 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: var(--bg-white);
      }
.frame-content-2_283 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 24px 0px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_283 {
        position: relative;
width: 100%;
height: 100px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_283 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 17px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_284 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: var(--brand-accent-light);
      }
.frame-content-2_284 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_285 {
        width: 22px;
height: 22px;
background-image: url(@/assets/images/checkcircle0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_288 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
      }
.Pixso-paragraph-2_289 {
        font-size: 28px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_290 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_291 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
flex-basis: 0;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: var(--bg-white);
      }
.frame-content-2_291 {
        display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
padding: 0px 24px 0px 24px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_291 {
        position: relative;
width: 100%;
height: 100px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_291 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 17px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_292 {
        width: 48px;
height: 48px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 12px 12px 12px 12px;
background-color: rgba(254, 226, 226, 1);
      }
.frame-content-2_292 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_293 {
        width: 22px;
height: 22px;
background-image: url(@/assets/images/eye.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_296 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
      }
.Pixso-paragraph-2_297 {
        font-size: 28px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_298 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_299 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
flex-grow: 1;
      }
.frame-content-2_299 {
        display: flex;
flex-direction: row;
gap: 20px;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-frame-2_300 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: var(--bg-white);
      }
.frame-content-2_300 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_300 {
        position: relative;
width: 600px;
height: 652px;
display: flex;
flex-shrink: 0;
      }
.stroke-2_300 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 17px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_301 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_301 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_302 {
        font-size: 16px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_303 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_304 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--border-light);
      }
.Pixso-frame-2_305 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_305 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_306 {
        width: 42px;
height: 42px;
background-image: url(@/assets/images/Avt.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_307 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_307 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_308 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_309 {
        font-size: 12px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_310 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 5px;
align-items: center;
padding: 5px 12px 5px 12px;
border-radius: 20px 20px 20px 20px;
background-color: var(--brand-warning-light);
      }
.Pixso-frame-2_311 {
        width: 7px;
height: 7px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
background-color: var(--brand-warning);
      }
.Pixso-paragraph-2_312 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--brand-warning);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_313 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--border-light);
      }
.Pixso-frame-2_314 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_314 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_315 {
        width: 42px;
height: 42px;
background-image: url(@/assets/images/Avt2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_316 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_316 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_317 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_318 {
        font-size: 12px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_319 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 5px;
align-items: center;
padding: 5px 12px 5px 12px;
border-radius: 20px 20px 20px 20px;
background-color: var(--brand-accent-light);
      }
.Pixso-frame-2_320 {
        width: 7px;
height: 7px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
background-color: var(--brand-accent);
      }
.Pixso-paragraph-2_321 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--brand-accent);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_322 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--border-light);
      }
.Pixso-frame-2_323 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_323 {
        display: flex;
flex-direction: row;
gap: 14px;
align-items: center;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-vector-2_324 {
        width: 42px;
height: 42px;
background-image: url(@/assets/images/Avt3.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_325 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_325 {
        display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_326 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_327 {
        font-size: 12px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_328 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 5px;
align-items: center;
padding: 5px 12px 5px 12px;
border-radius: 20px 20px 20px 20px;
background-color: var(--brand-primary-light);
      }
.Pixso-frame-2_329 {
        width: 7px;
height: 7px;
position: relative;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
background-color: var(--brand-primary);
      }
.Pixso-paragraph-2_330 {
        font-size: 11px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_331 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.0392156862745098) ;
background-color: var(--bg-white);
      }
.frame-content-2_331 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-2_331 {
        position: relative;
width: 100%;
height: 652px;
display: flex;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
      }
.stroke-2_331 {
        position: absolute;
inset: -1px -1px -1px -1px;
border-radius: 17px 17px 17px 17px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--border-light);
      }
.Pixso-frame-2_332 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_332 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 20px 20px 20px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_333 {
        font-size: 16px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_334 {
        font-size: 13px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_335 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--border-light);
      }
.Pixso-frame-2_336 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_336 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_337 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_337 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_338 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(232, 240, 254, 1);
      }
.frame-content-2_338 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_339 {
        font-size: 22px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: rgba(66, 133, 244, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_340 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_340 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_341 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_342 {
        font-size: 12px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_343 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_343 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-frame-2_344 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
      }
.Pixso-vector-2_345 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/users5.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_350 {
        font-size: 12px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_351 {
        width: 100px;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: var(--brand-primary);
      }
.frame-content-2_351 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_352 {
        font-size: 12px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_353 {
        width: 100%;
height: 1px;
position: relative;
flex-shrink: 0;
background-color: var(--border-light);
      }
.Pixso-frame-2_354 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_354 {
        display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_355 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_355 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_356 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;
background-color: rgba(255, 248, 231, 1);
      }
.frame-content-2_356 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_357 {
        font-size: 22px;
font-family: "Inter-Extra Bold";
font-weight: Extra Bold;
color: rgba(247, 158, 27, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_358 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_358 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_359 {
        font-size: 14px;
font-family: "Inter-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_360 {
        font-size: 12px;
font-family: "Inter-Italic";
font-weight: Italic;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_361 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_361 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-frame-2_362 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
      }
.Pixso-vector-2_363 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/users4.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_368 {
        font-size: 12px;
font-family: "Inter-Medium";
font-weight: Medium;
color: var(--brand-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_369 {
        width: 100px;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 8px 8px 8px 8px;
background-color: var(--brand-primary);
      }
.frame-content-2_369 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-2_370 {
        font-size: 12px;
font-family: "Inter-Semi Bold";
font-weight: Semi Bold;
color: var(--text-on-dark);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

